<section class="contact page-width">
  <h2>Contacto</h2>
  <p class="contact__description">
    <strong>Para consultas sobre pedidos o la tienda</strong>, por favor utiliza el siguiente formulario para contactarnos. Te responderemos lo antes posible.
    <strong>¿Necesitas ayuda con tu teclado?</strong> Únete a nuestro <a href="https://discord.gg/kitsoone" target="_blank">Discord de la comunidad</a>, donde hay un canal dedicado para ayudarte con estos problemas.
  </p>
  <form class="contact__form">
    <div class="contact__row">
      <p-floatlabel variant="in">
        <input pInputText id="name" autocomplete="off" />
        <label for="name">Nombre</label>
      </p-floatlabel>
      <p-floatlabel variant="in">
        <input pInputText id="email" autocomplete="off" />
        <label for="email">Correo electrónico</label>
      </p-floatlabel>    
    </div>
     <p-floatlabel variant="in" class="contact__textarea">
        <textarea pTextarea id="in_label" rows="4" cols="30"></textarea>
        <label for="in_label">In Label</label>
     </p-floatlabel>
    <button type="submit" class="default-button contact__submit">Enviar</button>
  </form>
</section>
