.contact {
  padding: 70px 40px;
  max-width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: left;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    line-height: 1.7;
    strong {
      font-weight: 600;
    }
    a {
      color: var(--primary-accent);
      text-decoration: underline;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__row {
    display: flex;
    gap: 1.5rem;

    p-floatlabel {
      flex: 1 1 0;
      min-width: 0;

      input {
        width: 100%;
      }
    }
  }

  --p-inputtext-color: var(--text-color-dark);
  --p-inputtext-border-color: var(--transparent-black-strong);
  --p-textarea-border-color: var(--transparent-black-strong);
  --p-inputtext-hover-border-color: var(--transparent-black-strong);
  --p-floatlabel-color: var(--text-color-dark);

  --p-floatlabel-focus-color: var(--primary-accent);
  --p-inputtext-focus-border-color: var(--primary-accent);

  --p-floatlabel-invalid-color: var(--color-error);
  --p-inputtext-invalid-border-color: var(--color-error);

  input.p-inputtext.p-invalid,
  input.p-inputtext.p-invalid:enabled:hover,
  input.p-inputtext.p-invalid:enabled:focus,
  textarea.p-textarea.p-invalid,
  textarea.p-textarea.p-invalid:enabled:hover,
  textarea.p-textarea.p-invalid:enabled:focus {
    border-color: var(--p-inputtext-invalid-border-color);
  }

  &__submit {
    
    align-self: center;
  }

  &__status {
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 0;
    line-height: 1;

    i {
      color: var(--color-success);
      font-size: 1rem;
      line-height: 1;
    }

    &--error {
      i {
        color: var(--color-error);
      }
    }
  }

  &__textarea {

    textarea{
      width: 100%;
      resize: none;
    }

  }
}

@media (max-width: 768px) {
  ::ng-deep .contact .p-toast {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    top: 20px !important;
    width: calc(100% - 40px);
    max-width: 100%;
  }
}
