.products {
  padding: 2rem 1.5rem;  
  min-height: 70vh;

  &__header {
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;    

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &-filters{
      @media (max-width: 768px) {
        display: none;
      }
    }
  } 

  &__main {
    --p-dataview-header-border-width: 0;
    --p-dataview-paginator-bottom-border-width: 0;
    --p-togglebutton-color: var(--text-color-dark);
    --p-togglebutton-checked-background: var(--background-color-gray);
    --p-togglebutton-background: var(--background-color-gray);    	
    --p-togglebutton-hover-background: var(--background-color-gray);
    --p-togglebutton-hover-color: var(--text-color-dark);
    --p-togglebutton-border-color: var(--background-color-gray);
    --p-togglebutton-checked-border-color: var(--background-color-gray);

  }

}