@use 'breakpoints' as breakpoints;
@use '../product-card';

.products {
  padding: 2rem 1.5rem;
  min-height: 70vh;

  @media (max-width: breakpoints.$sm) {
    padding: 2rem 0.75rem;
  }

  &__header {
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 600;
    }

    @media (max-width: breakpoints.$md) {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}