@use '../product-card';

.home {
  padding-bottom: 3rem;
  &__main-product {
    position: relative;
    height: 82vh;    
    display: flex;
    overflow: hidden;

    &-background {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
      }   
    }

    &-content {
      position: relative;
      box-sizing: border-box;
      padding: 2.5rem;
      width: 100%;    
      display: flex;
      align-items: center;
      justify-content: end;
      flex-direction: column;
      text-align: center;
      color: var(--text-color-light);

      h1 {
        font-size: 3rem;
        font-weight: 500;       
        line-height: 0.9;                    
        margin-bottom: 0.5rem;
      }      
    }

    &-features {
        font-size:1.3rem;
        color: var(--text-color-light);      
        margin-bottom: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
      }
  }

  &__products-container {
    box-sizing: border-box;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 3rem;
      margin-bottom: 1rem;
      color: var(--text-color-dark);
    }
    
    &-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;

      :hover {
        cursor: pointer;
      }
    }

    .swiper-pagination{
      bottom: auto;
    }

    &-skeleton {
      &-item {
        flex: 1 1 0;        
      }
    }
  }

  &__community-section {
    margin-top: 5rem;
    padding: 4rem 3rem;
    background: var(--background-color-gray);
  }

  &__community-content {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;

    h2 {
      font-size: 2.5em;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;     
      line-height: 2rem;
    }
  }

  &__discord-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    i {
      font-size: 1.1rem;
    }
  }

  &__showcase-container {
    box-sizing: border-box;
    margin-bottom: 2rem;
    position: relative;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 3rem;
      margin-bottom: 1rem;
      color: var(--text-color-dark);
    }   

    swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45vh;
      width: auto;
      img {              
        height: 100%;    
      }
      :hover {
        cursor: pointer;
      }
    }

    .swiper-showcase{
      display: flex;
      justify-content: center;
      padding: 1rem;
    }   
  }
}