<section class="shipping page-width">
    <h2>Envíos</h2>
    <p>
    Los envíos se realizan a través de las siguientes transportadoras: Servientrega, Envia, Interrapidísimo, Deprisa o Coordinadora, dependiendo de la disponibilidad.
    </p>

    <h3>¿Qué pasa si se pierde mi mercancía en la transportadora?</h3>
    <p>
    El cliente asume la responsabilidad de realizar la reclamación directamente ante la transportadora en caso de pérdida, de acuerdo con el Código de Comercio (Capítulo I, Artículo 994).
    </p>
    <p>
    Kitsoone es responsable únicamente hasta el momento en que el producto es entregado a la transportadora, pasando a esta la responsabilidad según lo establecido en el Código de Comercio, Título IV del contrato de transporte, Capítulo III “Transporte de Cosas”, Artículo 1013 “Entrega de Mercancías y Responsabilidad del Transportador” y Artículo 1030 “Responsabilidad por pérdida total o parcial de la cosa”.
    </p>

    <h3>¿Cómo sé que ya enviaron mi producto?</h3>
    <p>
    Una vez confirmado el pago, y realizado el envío, te enviaremos al correo electrónico y/o WhatsApp el número de guía junto con el nombre de la transportadora para que puedas rastrear tu pedido directamente en su página web.
    </p>

    <h3>No ha llegado mi mercancía aún, ¿qué hago?</h3>
    <p>
    Primero, rastrea tu envío en la página de la transportadora utilizando el número de guía proporcionado. Ten en cuenta que los tiempos de entrega pueden variar entre 1 y 3 días hábiles dependiendo de factores como el estado de las vías u otras condiciones del transporte.
    </p>
    <p>
    Segundo, comunícate directamente con la transportadora a través de los canales de atención (PBX o servicio al cliente) disponibles en su sitio web para obtener información actualizada.
    </p>
    <p>
    Tercero, si la transportadora no logra ubicar el paquete, el cliente deberá realizar la reclamación correspondiente para hacer efectivo el seguro de transporte.
    </p>
    <p>
    Kitsoone no se hace responsable por demoras en la entrega una vez el producto ha sido entregado a la transportadora, ya que este servicio es prestado por un tercero.
    </p>

    <h3>La mercancía tiene apariencia de haber sido abierta, ¿qué hago?</h3>
    <p>
    Todos los envíos se empacan en cajas de cartón debidamente selladas. En la parte exterior encontrarás un rótulo con tus datos.
    </p>
    <p>
    Si al momento de recibir el paquete notas signos de manipulación o apertura, debes verificar el contenido en presencia del personal de la transportadora y confirmar que el pedido esté completo y en buen estado.
    </p>
    <p>
    Ten en cuenta que, una vez firmes la guía de entrega y la transportadora se retire, se entenderá que recibiste el pedido a satisfacción, por lo que no será posible realizar reclamaciones posteriores.
    </p>
    <p>
    Kitsoone no se hace responsable por daños físicos o mal manejo ocasionados por la transportadora.
    </p>
</section>
