.product-list {
  &__filters {
    --p-drawer-color: var(--text-color-dark);
    --p-button-text-secondary-color: var(--text-color-dark);
    --p-accordion-content-color: var(--text-color-dark);

    :deep(.p-drawer-content) {
      padding: 1rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__container-filters {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__main {
    --p-dataview-header-border-width: 0;
    --p-dataview-header-padding: 12px 0;
    --p-dataview-paginator-bottom-border-width: 0;
    --p-dataview-content-color: var(--text-color-dark);
    --p-dataview-header-color: var(--text-color-dark);
    --p-togglebutton-color: var(--text-color-dark);
    --p-togglebutton-checked-background: var(--background-color-gray);
    --p-togglebutton-background: var(--background-color-gray);
    --p-togglebutton-hover-background: var(--background-color-gray);
    --p-togglebutton-hover-color: var(--text-color-dark);
    --p-togglebutton-border-color: var(--background-color-gray);
    --p-togglebutton-checked-border-color: var(--background-color-gray);
    --p-drawer-color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem 5rem;
    text-align: center;

    p {
      font-size: 1rem;
      max-width: 320px;
      opacity: 0.4;
    }
  }

  &__empty-icon {
    font-size: 3rem;
    opacity: 0.4;
  }

  &__error {
    text-align: center;
    padding: 3rem 1rem;
    color: #ef4444;

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}
