@use 'breakpoints' as breakpoints;

.announcement-bar {
  background-color: var(--background-color-dark);
  box-sizing: border-box;
  display: flex;  
  align-items: center;
  font-size: 14px;
  min-height: 35px;  
  @media (max-width: breakpoints.$lg) {
    display: none;
  }

  &__content {
    box-sizing: border-box;  
    color: var(--transparent-white-strong);
    display: flex;
    align-items: center;    
    gap: 8px;    
    flex: 1;
  }

  &__text {
    display: flex;
    flex: 1;
  }
  
  &__social-links {
    display: flex;    
    gap: 12px;

    a {   
      display: flex;
      &:hover {
        color: var(--text-color-light);
      }
    }
  }
}