.signup {
  max-width: 450px;
  margin: 4rem auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__password {
    width: 100%;
  }

  &__date {
    width: 100%;
    color-scheme: dark;
  }

  &__submit {
    width: 100%;
    margin-top: 0.5rem;
  }

  &__links {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
  }

  &__text {
    color: var(--text-color-medium);
  }

  &__link {
    color: var(--primary-accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  --p-inputtext-color: var(--text-color-dark);
  --p-inputtext-border-color: var(--transparent-black-strong);
  --p-inputtext-hover-border-color: var(--transparent-black-strong);
  --p-floatlabel-color: var(--text-color-medium);

  --p-floatlabel-focus-color: var(--primary-accent);
  --p-inputtext-focus-border-color: var(--primary-accent);

  input.p-inputtext {
    &::placeholder {
      color: var(--text-color-medium);
    }
  }
}

:host ::ng-deep {
  .signup__password {
    width: 100%;

    .p-password-input {
      width: 100%;
    }

  }

  p-floatlabel {
    width: 100%;

    input,
    .p-password {
      width: 100%;
    }
  }
}
