@use "primeicons/primeicons.css";
@use './tailwind.css';
@use './themes.scss';
@use 'breakpoints' as breakpoints;
/* Import Swiper styles */
@use 'swiper/css';
@use 'swiper/css/pagination';
@use 'swiper/css/navigation';

:root {
  --page-width: 90rem;
  --menu-height: 65px;
  --swiper-pagination-color: var(--primary-accent);  
  --p-primary-color: var(--primary-accent) !important;
  --p-primary-hover-color: var(--primary-accent) !important;
  --p-highlight-background: var(--primary-accent) !important;
  --p-highlight-color: var(--text-color-light) !important;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-white);  
  .p-carousel-content {
    padding: 3px;
  }
}

body {    
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--text-color-dark);
}

.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 3rem;

    @media (max-width: breakpoints.$lg) {
      padding: 0 2rem;
    }

    @media (max-width: breakpoints.$sm) {
      padding: 0 1rem;
    }
}

.default-button {
  background: var(--primary-accent);
  color: var(--text-color-light);
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 12px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;      

  &:hover {
    background: var(--primary-accent-hover);
  }
}

.product .p-breadcrumb-separator .p-icon {
  width: 0.65rem;
  height: 0.65rem;
}