@use "primeicons/primeicons.css";
@use './tailwind.css';
@use './themes.scss';

/* Import Swiper styles */
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

:root {
  --page-width: 100rem;
  --menu-height: 65px;
  --swiper-pagination-color: var(--primary-accent);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-white);  
  .p-carousel-content {
    padding: 3px;
  }
}

body {    
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--text-color-dark);
}

.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 3rem;

    @media (max-width: 950px) {
      padding: 0 2rem;
    }

    @media (max-width: 550px) {
      padding: 0 1rem;
    }
}
